body, html {
    margin: 0;
    height: 100%;
}

.content {
    display: flex;
    height: 100%;
}
.content #editor-wrapper {
    flex: 2;
}
.content #editor-wrapper #editor .socket.string {
    background: #6f377e;
}
.content #editor-wrapper #editor .socket.action {
    background: white;
    border-color: grey;
    border-radius: 3px;
    width: 15px;
}
.content #editor-wrapper #editor .node.message-event {
    background: #767676;
}
.content #editor-wrapper #editor .input-control input {
    width: 140px;
}

header {
    background-color: white;
}

.wrap {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    width: 100%;
}

.header-link {
    padding: 1.1em;
}

.header-h1 {
    margin-top: 10px;
    padding-left: 1em;
}

#header-title {
    color: #1c5a7d;
}

.header-link > a {
    font-weight: 500;
    color: #888;
}

.header-link > a:hover {
    color: #444;
}

.header-menu-wrapper { 
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}

header-h1 {
    width: 100%;
    text-align: right;
    font-size: 26px;
    float: right;
}

.toolsection {
    height: 100%;
    max-height: 60px;
}

.toolsection-list {
    list-style: none;
    float: left;
}


#save {
    padding: 1em;
    color: white;
    background-color: #41c14f;
    border-radius: 10px;
}

#save:hover {
    text-decoration: none;
}

.toolsection-list__item {
    float: left;
    padding-top: 1em;
}

.socket{
    background: #000
}

.node .title {
    font-family: sans-serif;
    font-size: 18px;
    padding: 8px 8px 0 8px !important;
}

.node .control input, .node .input-control input {
    width: 140px;
}
#node_short_num {
    padding: 2px 4px !important;
    font-size: 80% !important;
    width: 80px;
}
#node_short_txt {
    padding: 2px 4px !important;
    font-size: 80% !important;
    width: 80px;
}

#node_radio {
    width: 20px;
}
.node_submit {
    width: 30px;
    text-align: center;
}
