body, html {
    margin: 0;
    height: 100%;
}

.content {
    display: flex;
    height: 100%;
}
.content #editor-wrapper {
    flex: 2;
}
.content #editor-wrapper #editor .socket.string {
    background: #6f377e;
}
.content #editor-wrapper #editor .socket.action {
    background: white;
    border-color: grey;
    border-radius: 3px;
    width: 15px;
}
.content #editor-wrapper #editor .node.message-event {
    background: #767676;
}
.content #editor-wrapper #editor .input-control input {
    width: 140px;
}

header {
    height: 60px;
    background-color: white;
}

.wrap {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    width: 100%;
}

.header-link {
    padding: 1.1em;
}

.header-h1 {
    padding-left: 1em;
}

#header-title {
    color: #1c5a7d;
}

.header-link > a {
    font-weight: 500;
    color: #888;
}

.header-link > a:hover {
    color: #444;
}

.header-menu-wrapper { 
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header-h1 {
    width: 100%;
    text-align: right;
    font-size: 26px;
    float: right;
}